@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">欢迎！ 啊阿埃挨哎唉D2丂丄丅丆丏丒丟D3狧狪狫㑳狵狶狹繭狾⺁⺄⺈⺋⺌⺗⺧⺪D4、。·ˉD1℅℉D5U1U2U3㐀㐁㐂㐃㐄㐅㐆㐇A!"# 012S</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
